# https://travis-ci.org/jazzband/django-push-notifications
sudo: false
language: python
python: "3.6"
dist: xenial

env:
  - TOXENV=py27-django111
  - TOXENV=py36-django111
  - TOXENV=py36-django20
  - TOXENV=py36-djangomaster
  - TOXENV=py37-django111
  - TOXENV=py37-django20
  - TOXENV=py37-djangomaster
  - TOXENV=flake8

cache:
  directories:
    - $HOME/.cache/pip
    - $TRAVIS_BUILD_DIR/.tox

install:
  - pip install tox

script:
  - tox

notifications:
  email:
    on_failure: always
    on_success: change
