# https://travis-ci.org/jleclanche/django-push-notifications
sudo: false
language: python
python: "3.6"

env:
  - TOXENV=py27-django110
  - TOXENV=py27-django111
  - TOXENV=py34-django110
  - TOXENV=py34-django111
  - TOXENV=py36-django111
  - TOXENV=py36-djangomaster
  - TOXENV=flake8

cache:
  directories:
    - $HOME/.cache/pip
    - $TRAVIS_BUILD_DIR/.tox

install:
  - pip install tox

script:
  - tox

notifications:
  email:
    on_failure: always
    on_success: change
